{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "no-null"],
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_$",
        "varsIgnorePattern": "^_$"
      }
    ],
    "no-null/no-null": 2
  }
}
